body {
  background-color:#fcfaf2;
  
}
h1{
  color:#04b1e0;
  font-size:200px;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  margin:20px;
  flex-basis: auto;
}
div{
  background-color:#048ab7;
  padding:12px;
}
h3{
color:#04b1e0;
  font-size:50px;
  display: flex;
  text-align: center;
}
