body {
  background-color:#fcfaf2;
}
h2{
  color:#04b1e0;
  font-size:145 px;
  text-align: center;
}
h1{
  color:#04b1e0;
  font-size:220 px;
  text-align: center;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  flex-basis: auto;
}
div{
  background-color:#048ab7;
  padding:20 px;
  border-radius: 60 px;
  margin:15 px;
}
h3{
color:#04b1e0;
  font-size:45 px;
  display: flex;
  text-align: center;
}
